@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.navbar {
    position: absolute;
    top: 10px;
    width: 90vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    overflow-x: hidden;
}

.navbar__left, .navbar__right{
    display: flex;
    width: 10%;
}

.navbar__links {
    margin: 0 .5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.navbar__links_container {

}

.heading__border {
    width: 90%;
    background: black;
    height: 2px;
}




.navbar__center {
    font-weight: bold;
}



@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: center;
        /* font-size: .8em; */
        overflow-x: hidden;
    }

    .navbar__right, .navbar__center {
        display: none;
    }

    .navbar__left {
        width: 100%;
        justify-content: space-evenly;
    }

}